@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

a {
  color: black !important;
}

.myfont {
  font-family: 'Pacifico', cursive;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
}

.gallery {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

div.tabs-content.carousel.carousel-slider {
  margin-top: 20px;
  height: 500px !important;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 25px auto;
}

#toast-container {
  top: 35px !important;
  right: 25px !important;
  left: auto !important;
}

.collection-item {
  width: 100%;
  border-bottom: 1px solid #26a69a !important;
}

.progress {
  margin-top: 1px !important;
}

/*.sidenav-overlay {
  display: contents !important;
}*/

.card .card-image {
  position: initial !important;
}

.myrow {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.myfooter {
  position: fixed;
  z-index: 990;
  background-color: white;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px -5px 10px 0px,
  rgba(0, 0, 0, 0.12) 5px 0px 20px -2px, rgba(0, 0, 0, 0.2) 5px 0px 0px 0px;
  width: 100%;
}

.flink {
  padding: 0px 5px
}
